/*Mariya Ann Moncy*/
/*301428373*/
/*24-05-2024*/

.contact {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .contact-panel {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info a {
    color: #007bff;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  